<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idm.app.ruleengine.exceptionManage.mapper.ErrorMessageMapper">
  <resultMap id="BaseResultMap" type="com.idm.app.ruleengine.exceptionManage.model.ErrorMessage">
    <result column="QUERYSEQNO" jdbcType="VARCHAR" property="queryseqno" />
    <result column="IDNUMBER" jdbcType="VARCHAR" property="idnumber" />
    <result column="ERRORCODE" jdbcType="VARCHAR" property="errorcode" />
    <result column="ERRORTYPE" jdbcType="VARCHAR" property="errortype" />
    <result column="ERRORMESSAGE" jdbcType="VARCHAR" property="errormessage" />
    <result column="ERRORSTATUS" jdbcType="VARCHAR" property="errorstatus" />
    <result column="CREATETIME" jdbcType="DATE" property="createtime" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    QUERYSEQNO, IDNUMBER, ERRORCODE, ERRORTYPE, ERRORMESSAGE, ERRORSTATUS, CREATETIME, 
    UUID
  </sql>
  <select id="selectByExample" parameterType="com.idm.app.ruleengine.exceptionManage.model.ErrorMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ERRORMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="countByExample" parameterType="com.idm.app.ruleengine.exceptionManage.model.ErrorMessageExample" resultType="java.lang.Long">
    select count(*) from ERRORMESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>